:root {
  --color-base: #1a1a1a;
  --color-text: #454545;
  --color-bright: #a1a1a1;
  --color-light: #e9e9e9;
  --color-red: #915665;
  --color-brwon: #4c3949;
  --color-yellow: #f9b464;
  --color-orange: #d27c6a;
  --color-turquoise: #4f5a61;
  --color-turquoise-bright: #697f85;
}
