* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

select option:hover {
  background-color: transparent; /* 배경색을 투명하게 설정하거나 필요한 스타일을 적용하세요 */
  /* 기타 스타일 속성을 추가로 수정하세요 */
}
